

.header{
  display:flex;
  justify-content: center;
  align-items:center;
  position:relative;
  padding:20px 100px;
  background-color: lightgrey;;
}

.navBar{
  display:flex;
  list-style: none;
  justify-content: center;
  gap:300px;
  font-size:2rem;
}
.link{
  text-decoration: none;
  color:black;
}
.shoppingCart{
  position:absolute;
  right:20px;
  top:50%;
  transform: translate(0,-50%);
  cursor:pointer;
  display:flex;
  align-items: center;
}
.number{
  background-color: blue;
  color:white;
  border-radius: 100px;
  padding:5px 10px;
}
img{
  width:35px;
}
.selected{
  color:blue;
  text-decoration: underline;
}